BODY {
	MARGIN: 0px
}
TR {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
HR {
	BACKGROUND: #999999; WIDTH: 100%; HEIGHT: 1px
}
#searchbox {
	MARGIN-RIGHT: 5px
}
#mainlevel-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mainlevel-nav LI {
	PADDING-LEFT: 0px; FONT-SIZE: 10px; FLOAT: left; BACKGROUND-IMAGE: none; MARGIN: 0px; WIDTH: 15.5%; TEXT-INDENT: 15px; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
#mainlevel-nav A {
	BORDER-RIGHT: #cc3300 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; BACKGROUND: #ff9933 no-repeat 2px 50%; FLOAT: left; BORDER-LEFT: #fff 1px solid; COLOR: white; BORDER-BOTTOM: #cc3300 1px solid; TEXT-DECORATION: none
}
#mainlevel-nav A {
	FLOAT: none
}
#mainlevel-nav A:hover {
	BACKGROUND: #4d83c4 no-repeat 2px 50%
}
.newsflash TD {
	VERTICAL-ALIGN: middle; COLOR: #000000; TEXT-ALIGN: justify
}
.mainpage {
	FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; TEXT-ALIGN: justify
}
.greybg {
	BACKGROUND: #fefefe
}
.mainmenu_bg {
	BACKGROUND: #990000
}
.pathway {
	FONT-SIZE: 10px; MARGIN-LEFT: 5px; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
A.pathway:link {
	FONT-WEIGHT: normal; MARGIN-LEFT: 5px; COLOR: #ffffff
}
A.pathway:visited {
	FONT-WEIGHT: normal; MARGIN-LEFT: 5px; COLOR: #ffffff
}
A.pathway:hover {
	FONT-WEIGHT: normal; MARGIN-LEFT: 5px; COLOR: #eeeeee; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #999999; FONT-FAMILY: sans-serif
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-LEFT: 20px; TEXT-TRANSFORM: uppercase; COLOR: #666666; FONT-FAMILY: sans-serif; LETTER-SPACING: 2px
}
#active_menu {
	MARGIN-LEFT: 5px; COLOR: #ffffff
}
A.mainlevel:link {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 1px; WIDTH: 95%; COLOR: #ff9933; TEXT-INDENT: 5px; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; TEXT-DECORATION: none
}
A.mainlevel:visited {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 1px; WIDTH: 95%; COLOR: #ff9933; TEXT-INDENT: 5px; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; TEXT-DECORATION: none
}
A.mainlevel:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#jsddm
{	margin: 0;
	padding: 0}
	
	#jsddm li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial
        }

	#jsddm li a
	{	display: inline-block;
		background: #006634;
		padding: 5px 10px;
                text-transform:uppercase;
		text-decoration: none;
		color: white;
		white-space: nowrap}

	#jsddm li a:hover
	{	background: #329832}
		
		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white}
		
		#jsddm li ul li
		{	float: none;
			display: inline}
		
		#jsddm li ul li a
		{	width: auto;
			background: #9F1B1B}
		
		#jsddm li ul li a:hover
		{	background: #7F1616}

A.mainmenu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; TEXT-DECORATION: none
}
A.mainmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; TEXT-DECORATION: none
}
A.mainmenu:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
.pollstableborder {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid
}
A.sublevel:link {
	PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ff6600; TEXT-ALIGN: left
}
A.sublevel:visited {
	PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ff6600; TEXT-ALIGN: left
}
A.sublevel:hover {
	COLOR: #ff9e31; TEXT-DECORATION: none
}
TABLE.moduletable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px
}
TABLE.moduletable TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: #ffffff; TEXT-INDENT: 5px; LETTER-SPACING: 2px; TEXT-ALIGN: left
}
TABLE.moduletable LI {
	
}
TABLE.moduletable UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.moduletable TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: yellow
}
.poll {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TABLE.pollstableborder {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.sectiontableheader {
	FONT-WEIGHT: bold; COLOR: #333333; BACKGROUND-COLOR: #ffcc99
}
.sectiontableentry1 {
	BACKGROUND-COLOR: #ffff99
}
.sectiontableentry2 {
	BACKGROUND-COLOR: #ccff99
}
.small {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalldark {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.contentpane {
	BACKGROUND: #ffff99; MARGIN-LEFT: 5px
}
.contentpaneopen {
	BORDER-RIGHT: #0099cc 0px ridge; PADDING-RIGHT: 20px; BORDER-TOP: #0099cc 0px ridge; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; BORDER-LEFT: #0099cc 0px ridge; WIDTH: 100%; PADDING-TOP: 20px; BORDER-BOTTOM: #0099cc 0px ridge
}
.contentheading {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 5px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.componentheading {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 5px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.createdate {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.button {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f0f0f0
}
.inputbox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffff99
}
A:link {
	COLOR: #cc6600; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4d83c4; TEXT-DECORATION: underline
}
A.contentpagetitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.contentpagetitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.contentpagetitle:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.category:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333
}
A.category:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333
}
A.category:hover {
	COLOR: #999999
}
.ontab {
	BORDER-RIGHT: #808080 2px outset; BORDER-TOP: #ff9900 2px outset; FONT-WEIGHT: bold; BORDER-LEFT: #ff9900 2px outset; COLOR: #ffffff; BORDER-BOTTOM: #d5d5d5 1px solid; BACKGROUND-COLOR: #ffae00; TEXT-ALIGN: center
}
.offtab {
	BORDER-RIGHT: #e0e0e0 2px outset; BORDER-TOP: #e0e0e0 2px outset; FONT-WEIGHT: normal; BORDER-LEFT: #e0e0e0 2px outset; BORDER-BOTTOM: #d5d5d5 1px solid; BACKGROUND-COLOR: #e5e5e5; TEXT-ALIGN: center
}
.tabpadding {
	
}
.tabheading {
	BACKGROUND-COLOR: #ffae00; TEXT-ALIGN: left
}
.pagetext {
	DISPLAY: none; VISIBILITY: hidden; POSITION: relative; TOP: 0px
}
.moscode {
	BACKGROUND-COLOR: #f0f0f0
}
.code {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.back_button {
	MARGIN-TOP: 40px; TEXT-ALIGN: center
}
TABLE.contenttoc {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; BORDER-LEFT: #333 1px solid; COLOR: #333300; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #e0e0e0
}
TABLE.contenttoc TD {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; TEXT-ALIGN: left
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	BACKGROUND-POSITION: 0px 3px; PADDING-LEFT: 10px; LINE-HEIGHT: 15px; PADDING-TOP: 0px
}
TABLE.searchinto {
	WIDTH: 100%
}
TABLE.searchintro TD {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #293c43
}
.blog_more {
	MARGIN-LEFT: 5px
}
.blog_section {
	MARGIN-LEFT: 5px
}
.blog {
	MARGIN-LEFT: 5px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.nav {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; COLOR: #cc3333; TEXT-DECORATION: underline
}
TEXTAREA {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
INPUT.check {
	
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #666666; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #666666
}
.hrcolor {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #666666; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #666666
}
.quote {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: x-small; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #c3b8d0
}
.code {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: x-small; PADDING-BOTTOM: 1px; MARGIN: 1px auto; OVERFLOW: auto; BORDER-LEFT: #000000 1px solid; WIDTH: 99%; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "courier new", helvetica, "times new roman", serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #cccccc
}
.quoteheader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
.codeheader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
.help {
	CURSOR: help
}
.meaction {
	COLOR: red
}
.editor {
	WIDTH: 96%
}
.highlight {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: yellow
}
.windowbg {
	COLOR: #000000; BACKGROUND-COLOR: #e1e1e1
}
.windowbg2 {
	COLOR: #000000; BACKGROUND-COLOR: #f0f0f0
}
.signature {
	
}
.titlebg {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
TR.titlebg TD {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
.titlebg A:link {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
.titlebg A:visited {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
.titlebg A:hover {
	COLOR: #dfdfdf
}
.catbg {
	BACKGROUND-IMAGE: url(images/catbg.jpg)
}
.catbg2 {
	BACKGROUND-IMAGE: url(images/catbg2.jpg)
}
.catbg {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: silver
}
.catbg2 {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: silver
}
.bordercolor {
	BACKGROUND-COLOR: #828181
}
.tborder {
	BORDER-RIGHT: #828181 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #828181 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #828181 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #828181 1px solid; BACKGROUND-COLOR: #ffff99
}
.smalltext {
	FONT-SIZE: x-small; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
.normaltext {
	FONT-SIZE: small
}
.largetext {
	FONT-SIZE: large
}
#headerarea {
	BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: white
}
#bodyarea {
	BACKGROUND-COLOR: #d4d4d4
}
#footerarea {
	BORDER-TOP: gray 1px solid; COLOR: black; BACKGROUND-COLOR: white
}
.headertitles {
	BORDER-RIGHT: #cc9933 1px solid; BORDER-TOP: #cc9933 1px solid; BORDER-LEFT: #cc9933 1px solid; BORDER-BOTTOM: #cc9933 1px solid; BACKGROUND-COLOR: #ffff99
}
.headerbodies {
	BORDER-RIGHT: #7a7777 1px solid; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #7a7777 1px solid; BORDER-LEFT: #7a7777 1px solid; BORDER-BOTTOM: #7a7777 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #efefef
}
