{% extends "base.html"%}
{% load cms_tags %}

{% block title %}About the school{% endblock %}

{% block main-content %}
<table width="100%" height="350" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <th>Please click links below: </th>
            <tr>
                <td valign="top" align="left" class="texts14b">
                <ol>
                    <li><a href="/introducing_rc/">Introducing RC</a></li>
                    <li><a href="/our_facilities/">Our facilities</a></li>
                    <li><a href="/school_calendar/">School calendar</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                </ol>
                </td>
            </tr>
        </tbody>
</table>

{% endblock %}