{% extends "base.html"%}
{% load cms_tags %}

{% block title %}Our programmes{% endblock %}

{% block main-content %}
<table width="100%" height="350" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <th>Please click links below: </th>
            <tr>
                <td valign="top" align="left" class="texts14b">
                <ol>
                    <li><a href="/daycare/">Early years</a></li>
                    <li><a href="/nursery/">Nursery and kindergarten</a></li>
                    <li><a href="/primary/">Primary years</a></li>
                    <li><a href="/secondary/">Secondary years</a></li>
                    <li><a href="/other_programmes/">Other programmes</a></li>
                </ol>
                </td>
            </tr>
        </tbody>
</table>

{% endblock %}