{% extends "base.html"%}
{% load cms_tags %}

{% block title %}School calendar{% endblock %}

{% block main-content %}<iframe width="880" height="500" frameborder="0" scrolling="no" style="border: 1px solid rgb(119, 119, 119);" src="https://www.google.com/calendar/embed?title=RCIS%20Calendar&amp;showCalendars=0&amp;height=500&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=o9pv07732ai75jl2odihttlhus%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=Asia%2FBangkok"></iframe>
{% endblock %}